<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.IdeaMapper">

	<resultMap type="Idea" id="IdeaResult">
		<id property="id" column="id" />
		<result property="titulo" column="titulo" />
		<result property="estado" column="estado" />
		<result property="votos" column="votos" />
		<result property="fecha" column="fecha" />
		<result property="descripcion" column="descripcion" />
		<result property="usuario" column="usuario"/>
		<association property="tipoIdea" javaType="TipoIdea"
			resultMap="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.TipoIdeaMapper.TipoIdeaResult"></association>
	</resultMap>


	<update id="actualizarEstado">
		UPDATE
		idea
		SET
		estado = #{nEstado}
		WHERE
		id = #{id}
	</update>

	<select id="consultarIdeas" resultMap="IdeaResult">
		select * from idea as i
		left join tipo_idea as ti ON(ti.id=tipo_idea)
		order by votos desc;;
	</select>

	<insert id="insertarIdea">
		insert into idea
		(id,descripcion,estado,fecha,votos,titulo,usuario,tipo_idea)
		values
		(#{Idea.id},#{Idea.descripcion},#{Idea.estado},current_date,#{Idea.votos},#{Idea.titulo},#{Idea.usuario},#{Idea.tipoIdea.id});
	</insert>

	<select id="consultarIdeasUsuario" resultMap="IdeaResult">
		select * from idea
		as i left join tipo_idea as ti ON(ti.id=tipo_idea) where usuario = #{correo}
		order by votos desc;
	</select>

	<select id="consultarIdea" resultMap="IdeaResult">
		select * from idea as i
		left join tipo_idea as ti ON(ti.id=tipo_idea)
		where i.id= #{id};
	</select>

	<select id="consultarPalabrasClave" resultMap="IdeaResult">
		select * from idea as i
		left join tipo_idea as ti ON(ti.id=tipo_idea)
		where descripcion like '%' || #{clave} || '%' OR  titulo like '%' || #{clave} || '%'
		order by votos desc;
	</select>

	<select id="consultarId" resultMap="IdeaResult" >
		select * from idea
		where id=(select max(id) from idea);
	</select>
	
	<update id="actualizarVoto">
		UPDATE idea SET votos=votos+1 WHERE id = #{id} and 
		(select COUNT(usuario_correo) from votado
			where idea_id=#{id} and usuario_correo=#{correo})=0;
	</update>
	
	
	
	<update id="ponerVoto">
		UPDATE idea SET votos=votos+1 WHERE id = #{id} and 
		(select COUNT(usuario_correo) from votado
			where idea_id=#{id} and usuario_correo=#{correo})=0;
	</update>
	
	<update id="quitarVoto">
		UPDATE idea SET votos=votos-1 WHERE id = #{id} and 
		(select COUNT(usuario_correo) from votado
			where idea_id=#{id} and usuario_correo=#{correo})=1;
	</update>
	

</mapper>
