<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.IdeaMapper">




	<resultMap type='Idea' id='IdeaResult'>
		<id property='id' column='id' />
		<result property='nombreIniciativa' column='nombre_iniciativa' />
		<result property='estado' column='estado' />
		<result property='votos' column='votos' />
		<result property='fechaCreacion' column='fecha_creacion' />
		<result property='usuarioCarne' column='usuario_carne' />
		<association property="tIdeaId" column="t_idea_id"
			javaType="TipoIdea" resultMap="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.TipoIdeaMapper"></association>
	</resultMap>


	<select id="consultarIdeas" resultMap="IdeaResult">
		select * from idea;
	</select>

	<insert id="insertarIdea">
		insert into idea
		(id,nombre_iniciativa,t_idea_id,usuario_carne,votos,fecha_creacion,estado,descripcion)
		values
		(#{Idea.id},#{Idea.nombre_iniciativa},#{Idea.t_idea_id},#{Idea.usuario_carne},#{Idea.votos},#{Idea.fecha_creacion},#{Idea.estado},#{Idea.descripcion});
	</insert>


	<select id="consultarIdea" resultMap="IdeaResult">
		select * from idea where id
		= #{idid};
	</select>

</mapper>
