<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.UsuarioMapper">

	<resultMap type='Usuario' id='UsuarioResult'>
		<id property='carne' column='carne' />
		<result property='nombre' column='nombre' />
		<result property='correo' column='correo' />
		<result property='activo' column='activo' />
		<association property="tipoUsuarioId" 	javaType="TipoUsuario"
			resultMap="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.TipoUsuarioMapper.TipoUsuarioResult"></association>
		
		<collection property='ideasDeUsuario' ofType='Idea'
			resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.IdeaMapper.IdeaResult'></collection>
	</resultMap>
	
	<select id="consultarUsuarios" resultMap="UsuarioResult">
		select * from usuario left join tipo_usuario on id=tipo_usuario_id;
	</select>	

	<insert id="insertarUsuario">
		insert into usuario (carne, nombre, correo, tipo_usuario_id, activo) values
		(#{usuario.carne},#{usuario.nombre},#{usuario.correo},#{usuario.tipo_usuario_id},#{usuario.activo});
	</insert>

	<select id="consultarUsuario" resultMap="UsuarioResult">
		select * from usuario left join tipo_usuario on id=tipo_usuario_id where carne = #{cus};
	</select>
	
	<select id="ConsultarUsuarioPorCorreo" resultMap="UsuarioResult">
		select * from usuario left join tipo_usuario on id=tipo_usuario_id where correo = #{correo};
	</select>
	







</mapper>
