<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.UsuarioMapper">

	<resultMap type='Usuario' id='UsuarioResult'>
		<id property='carne' column='carne' />
		<result property='nombre' column='nombre' />
		<result property='correo' column='correo' />
		<result property='activo' column='activo' />
		<association property="tipoUsuarioId" column="tipo_usuario_id"
			javaType="TipoUsuario"
			resultMap="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.TipoUsuarioMapper"></association>
		<collection property='ideasDeUsuario' ofType='Idea'
			resultMap='IdeaResult'></collection>
	</resultMap>

</mapper>
