<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--<settings> <setting name="logImpl" value="LOG4J"/> </settings> -->

	<typeAliases>
		<typeAlias type='edu.eci.pdsw.samples.entities.Usuario' alias='Usuario' />
		<typeAlias type='edu.eci.pdsw.samples.entities.Idea' alias='Idea' />
		<typeAlias type='edu.eci.pdsw.samples.entities.TipoIdea' alias='TipoIdea' />
	</typeAliases>


	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.postgresql.Driver" />
				<property name="url"
					value="jdbc:postgresql://ec2-107-21-93-132.compute-1.amazonaws.com:5432/dbc60str6v2js4?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory" />
				<property name="username" value="hodmschwtsvmpk" />
				<property name="password" value="3adbb33e6d95faf1d73b80490d8c0b608b708dcdc743d4e9bd3984a037a38283" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="mappers/UsuarioMapper.xml"></mapper>
		<mapper resource="mappers/IdeaMapper.xml"></mapper>
		<mapper resource="mappers/TipoIdeaMapper.xml"></mapper>
	</mappers>


</configuration>
