@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background: url(images/MainBackground.jpg) no-repeat center center fixed, url(images/fondoindex.jpg) no-repeat top center;
height: 50%;
font-family: 'Numans', sans-serif;
display: block;
color: white;
}
.h-100{
	height: 100%!important;
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
@media (min-width: 576px)
.container {
    max-width: 540px;
}
.container{
	height: 100%;
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	align-content: center;
}
.card{
	top:200px;
	left: calc(50% - 50);
	position: relative;
	height: 370px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(0,0,0,0.7) !important;
}
.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}
.myclass  {
	-moz-box-shadow:inset 0px 1px 0px 0px rgb(40, 159, 199) !important;
	-webkit-box-shadow:inset 0px 1px 0px 0px rgb(40, 159, 199) !important;
	box-shadow:inset 0px 1px 0px 0px rgb(40, 159, 199) !important;
	background-image:none !important;
	background-color:rgb(40, 159, 199) !important;
	-moz-border-radius:6px !important;
	-webkit-border-radius:6px !important;
	border-radius:6px !important;
	border:1px solid rgb(40, 159, 199) !important;
	display:inline-block !important;
	color:#ffffff !important;
	font-family:Trebuchet MS !important;
	font-size:17px !important;                    // Not applied
	font-weight:bold !important;
	padding:18px 18px !important;
	text-decoration:none !important;
	text-shadow:1px 1px 0px rgb(40, 159, 199) !important;
}
.minilogoecicorner{
	width: 261px;
    height: 110px;    
    position: absolute;
    top: calc(1% + 1%);
    left: calc(100% - 260px);
}
.input-group-text{
	background-color:rgb(40, 159, 199) !important;
}